body {
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
}
.container {
  padding-top: 3%;
  /* background-color: rgba(240, 236, 236, 0.856);*/
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 10px;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin: 0 auto;
}

h1 {
  color: rgba(59, 59, 59, 0.829);
  font-size: 62px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}
h2 {
  color: rgba(59, 59, 59, 0.829);
  text-align: center;
  font-size: 48px;
  margin-bottom: 2%;
}
h4 {
  color: rgba(59, 59, 59, 0.829);
  text-align: center;

  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 24px;
  font-weight: 500;
}
form {
  margin-top: 5%;
  text-align: center;
}
input {
  border-radius: 7px;
  width: 250px;
  height: 55px;
  margin-top: 5px;
  padding-bottom: 9px;
  padding-left: 3px;
  margin-right: 3px;
  padding-top: 10px;
  border: none;
}
input::placeholder {
  color: #ddaea1;
  padding-left: 5%;
  font-size: 22px;
  font-weight: 400;
}
footer {
  margin-top: 10px;
}
#created-by {
  text-align: center;
  font-size: 16px;
  padding-bottom: 1%;
}
#button-search {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 8px;
  background-color: #ff9a9e;
  border: none;
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 24px;
  border-radius: 7px;
  color: white;
}
#button-search:hover {
  cursor: pointer;
  background-color: #fad0c4;
}

#button-search:active {
  cursor: pointer;
  background-color: rgba(59, 59, 59, 0.829);
}
.row {
  text-align: center;
  color: rgba(59, 59, 59, 0.829);
}
.days {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #fad0c4;
  margin-bottom: 1%;
}
.tempsign {
  font-size: 24px;
  vertical-align: super;
}
li {
  list-style: none;
}
a {
  color: #e28b8e;
}
.icon {
  transform: scale(1.5);
  text-align: center;
}
